.example-card {
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
  table {
    width: 100%;
  }
  .mat-header-cell {
    font-size: 20px;
  }
  .mat-cell {
    font-size: 16px;
  }
  .mat-nav-list {
    width:100%;
  }