<mat-card class="example-card" >      
        <h2 class="mat-h2">
                Pokemon list
        </h2>       
        <div class="center-width-separator">

        <mat-table #table [dataSource]="list" >
        <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>name</mat-header-cell>

        <mat-cell *matCellDef="let i" (click)="setLink(i.url)"><mat-nav-list><mat-list-item> {{i.name}}</mat-list-item></mat-nav-list> 
        </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
        </mat-table>
        <mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 50]">
        </mat-paginator>
        </div> 
</mat-card>                 
