<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
  <img src="/src/assets/logo.jpg" width="10%" height="30%" />
  </h1>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>

