<p>
<mat-card class="example-card" >
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{pokemonDetails$.name}}</mat-card-title>
  </mat-card-header>
    <mat-nav-list>
      <mat-list-item>
        <a matLine >{{ pokemonDetails$.name }}</a>
      </mat-list-item>
    </mat-nav-list>
  <mat-card-content>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Pokemon Entries
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-panel-description>
          <div class="center-width-separator">
            <mat-table #table [dataSource]="details" >
              <ng-container matColumnDef="entry_number">
                <mat-header-cell *matHeaderCellDef>Entry number</mat-header-cell>
                <mat-cell *matCellDef="let i" > {{i.entry_number}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
                <mat-cell *matCellDef="let i" > {{i.pokemon_species.name}} </mat-cell>
              </ng-container>
              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
            </mat-table>
            <mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 50]">
            </mat-paginator>
          </div>
        </mat-panel-description>
      </mat-expansion-panel>
    </mat-card-content>
  </mat-card> 
</p>
