.example-card {
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .example-header-image {
    background-image: url('/src/assets/1.jpg');
    background-size: cover;
  }
  .center-width-separator {
      width:100%;
  }